*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgb(73, 195, 252),rgb(45, 151, 201));
    font-family: sans-serif;
}

.location, .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature{
    flex-direction: column;
}

.degree{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree span,h2{
    margin: 5px;
    font-size: 30px;
}