.box1{
    height: 97vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    height: 97vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section1{
    height:70px;
    width: 90px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    color: aliceblue;
}

.section2{
    height:70px;
    width: 90px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    color: aliceblue;
}