*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
    perspective: 1000px;
}

.container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 25rem;
    border-radius: 30px;
    padding: 0rem 3rem 5rem 3rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.sneaker{
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sneaker img{
    width: 12rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle{
    width: 9rem;
    height: 9rem;
    background-image: linear-gradient(to right, rgba(247, 125, 44,0.75),rgba(114, 3, 241,0.75));
    position: absolute;
    border-radius: 50%;z-index: 1;
}

.info h1{
    transition: all 0.75s ease-out;
    font-size: 2rem;
}

.info h3{
    transition: all 0.75s ease-out;
    font-size: 1rem;
    padding: 1.5rem 0rem;
    color: #585858;
    font-weight: lighter;
}

.sizes{
    transition: all 0.75s ease-out;
    display: flex;
    justify-content: space-between;
}

.sizes button{
    padding: 0.3rem 1.5rem;
    margin: 1%;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    color: #585858;
}

button.active{
    background: #585858;
    color: white;
}

.purchase{
    margin-top: 3rem;
    transition: all 0.75s ease-out;
}

.purchase button{
    width: 100%;
    padding: 1rem 0rem;
    background-color: orangered;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bolder;
}