*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(0, 0, 0);
}

.logo{
    color: rgb(235, 233, 233);
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 20%;
    align-items:start;
    padding: 10px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style-type: none;
}

.nav-links a{
    text-decoration: none;
    color: rgb(235, 233, 233);
    letter-spacing: 3px;
    font-weight: bold;
}

.burger{
    display: none;
    padding: 10px;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(235, 233, 233);
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

.head-image{
    width: 100%;
    height: 570px;
}

#heading{
    font-size: 200%;
    color: white;
    background: url('images/fortext.jpg');
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.intro-title{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Block 1 */
.intro-content1{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.intro-text1{
    width: 33%;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}

.image1{
    padding-top: 20px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


/* Block 2 */
.intro-content2{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.intro-text2{
    width: 33%;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


.image2{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


/* Block 3 */
.intro-content3{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.intro-text3{
    width: 33%;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}

.image3{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


/* Block 4 */
.intro-content4{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.intro-text4{
    width: 33%;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


.image4{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


/* Block 5 */
.intro-content5{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.intro-text5{
    width: 33%;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}

.image5{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


/* Block 6 */
.intro-content6{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.intro-text6{
    width: 33%;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


.image6{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


/* Block 7 */
.intro-content7{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.intro-text7{
    width: 33%;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}

.image7{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


/* Block 8 */
.intro-content8{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.intro-text8{
    width: 33%;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


.image8{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


/* Block 9 */
.intro-content9{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.intro-text9{
    width: 33%;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}

.image9{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


/* Block 10 */
.intro-content10{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.intro-text10{
    width: 33%;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


.image10{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all ease-in-out;
}


/* Common */
.text-display{
    opacity: 1;
    transform: translateY(0px);
}

.image-display{
    opacity: 1;
    transform: translateY(0px);
}

.footer{
    height: 100px;
    background: url(images/fortext.jpg);
    color: white;
    font-stretch: expanded;
    font-weight: bolder;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }    
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
        cursor: pointer;
    }

    .logo{
        width: 50%;
    }
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        background-color: rgb(22, 22, 22);
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.7s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }

    .intro-text1{
        width: 100%;
        padding: 10px
    }
    .intro-text2{
        width: 100%;
        padding: 10px
    }
    .intro-text3{
        width: 100%;
        padding: 10px
    }
    .intro-text4{
        width: 100%;
        padding: 10px
    }
    .intro-text5{
        width: 100%;
        padding: 10px
    }
    .intro-text6{
        width: 100%;
        padding: 10px
    }
    .intro-text7{
        width: 100%;
        padding: 10px
    }
    .intro-text8{
        width: 100%;
        padding: 10px
    }
    .intro-text9{
        width: 100%;
        padding: 10px
    }
    .intro-text10{
        width: 100%;
        padding: 10px
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.head-image-updated{
    margin-top: 89vh;
}